html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
  margin: 0;
  padding: 0;
  background-image: url('/bg.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 52px;
  padding: 0 40px;
  color: #fff;
  border-radius: 5px;
  background-color: #006ea6;
  white-space: nowrap;
  transition: .3s;
}

.button:hover {
  transform: scale(1.05);
}

.heading {
  color: #1E212C;
}

/* ============================== HEADER TOP ============================== */

.header__top {
  background-color: #006ea6;
  position: relative;
}


.header__top-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  display: flex;
  margin-left: 10px;
}

.header__logo img {
  padding-right: 7px;
}

.header__logo span {
  padding-top: 4px;
  font-size: 17pt;
  font-weight: 700;
  color: #f0ed69;
}

.header__nav {
  display: flex;
}

.header__nav-rp, .header__nav-mgpw, .header__nav-ctp, .header__nav-op, .header__nav-video {
  display: flex;
  align-items: center;

}

.header__title span {
  color: #1E212C;
}

.header__nav-list {
  display: flex;
  height: 50px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link, #nav-rp {
  display: block;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  white-space: nowrap;
  transition: all .3s;
  color: #fff;
  background: #006ea6;
}
.header__nav-link:first-child {
  margin: 0 10px 0 30px;
}

.header__nav-link:hover {
  color: #f0ed69;
}

.menu-link {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

/* Стили для выпадающего списка */
.header__nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  margin-left: 30px;
  background: none;
  border: none;
  color: #fff;
}
.header__nav-toggle span{
  font-weight: 600;
  font-size: 1em;
  padding-right: 10px;
}

/* Скрываем основное меню на маленьких экранах */
@media (max-width: 1400px) {
  .header__nav-toggle {
    display: block;
  }

  .header__nav-list {
    flex-direction: column;
    position: absolute;
    top: 100%; /* Под навигационной панелью */
    left: 0;
    width: 100%;
    background-color: #006ea6;
    z-index: 1000; /* список выше всех элементов */
    padding: 20px 0;
    opacity: 0;
    transform: translateY(-10px); /* Сдвиг вверх для эффекта появления */
    transition: opacity .3s ease, transform .3s ease;
    pointer-events: none; /* Отключает взаимодействие, когда меню скрыто */
}

.header__nav-list.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto; /* Включает взаимодействие, когда меню активно */
}

  .header__nav-list li {
    text-align: center;
    padding: 15px;
    background-color: #006ea6;
    border-bottom: 1px solid #fff;
  }

  .header__nav-link:first-child {
    margin: 0 0 0 0 ;
  }

}

/* ============================== HEADER BODY ============================== */

.header__title{
  color: #1E212C;
  border-bottom: #1E212C;
  font-size: 24px;
}

.file__op-container{
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.file__menu-container {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);
}

.file__ctp-container {
  display: flex;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 50px);

}

.file__ctp-content {
  display: flex;
  margin-top: 20%;
  width: 100%;
  height: 100%;
  z-index: 0;

}

.file__ctp-title {
  color: #006ea6;
  font-style: italic;
  font-size: 3em;
  text-align: center; 
  flex: 1; 

}

.file__ctp-subtitle {
  display: block;
  font-size: 1em;
  font-style: normal;
  color: #006ea6;
  margin-top: 0.5em;
}

.header__menu-mdk, .header__menu-ctp, .header__menu-op {
  display: none;
  width: 17%;
  min-width: 150px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: #ddd;
  overflow-y: auto;
  padding: 20px;
}

/* Responsive font sizing (optional) */
@media (max-width: 768px) {
  .file__ctp-title {
    font-size: 2em; /* Smaller title on smaller screens */
  }
  .header__nav-link, #nav-rp {
    display: block;
    font-size: 0.8em;
    font-weight: 700;
    line-height: 1.6;
    white-space: nowrap;
    transition: all .3s;
    color: #fff;
    background: #006ea6;
  }

  .file-viewer {
    display: block;
    width: 100%;
    height: calc(100vh - 50px); /* Занимает всю высоту экрана */
    position: fixed;
    top: 50;
    left: 0;
    z-index: 1000;
    background-color: white;
  }

  .file-viewer iframe {
    width: 100%;
    height: 100%;
  }

  .header__menu-op, .header__menu-mdk, .header__menu-ctp {
    display: none; /* Скрываем меню при открытии iframe */
    
  }
}

@media (max-width: 480px) {
  .file__ctp-title {
    font-size: 1.5em; 
  }

  .file__ctp-subtitle {
    font-size: 1em;
  }


  .file__op-container{
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  .file__menu-container {
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  .file__ctp-container {
    display: flex;
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
  }
  
  .header__title{
    font-size: 2vh;
  }
  .header__menu-mdk, .header__menu-ctp, .header__menu-op {
    display: none;
    width: 17%;
    min-width: 150px;
    height: 100%;
    border-right: 1px solid #ccc;
    background-color: #ddd;
    overflow-y: auto;
    padding: 20px 30px 20px 10px;
  }
  
}

.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}



#fileFrame {
  width: 100%;
  height: 100%;
}

.menu-link:hover {
  background-color: #f0f0f0;
}
#nav-rp:hover {
  color: #f0ed69;
  background-color: #006ea6;
}

.file-viewer {
  display: none;
  width: calc(100% );
  height: 100%;
  border-left: 1px solid #ccc;
  padding: 20px;
}

.file-viewer iframe {
  width: 100%;
  height: 100%;
}


